#orih-frame {
  /* display: none; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 50%;
  margin: auto;
  z-index: 9999; /* 最前面に表示 */
  /* background-color: blue; */
  /* color: white; */
}