.card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #555;
}

.card--focused {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #555;
  background-color: #2085e4af;
}

.card:hover {
  background-color: #ddab21af; 
}

.card--focused > .card__close {
  visibility: visible;
}
.card:hover > .card__close {
  visibility: visible;
}

.card__icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.card__title {
  font-size: 1.4em;
}

.card__dataWrapper {
  margin-left: 5px; 
}

.card__close {
  visibility: hidden;
  margin-left: auto;
  margin-right: 10px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.card__close:hover {
  background-color: #dddddd; 
  color: red;
}