.wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #555;
}

.wrapper-focused {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #555;
  background-color: #2085e4af;
}

.wrapper:hover {
  background-color: #ddab21af; 
}

.wrapper-focused > .card__close {
  visibility: visible;
}
.wrapper:hover > .card__close {
  visibility: visible;
}

.card__close {
  visibility: hidden;
  margin-left: auto;
  background-color: #555555;
  color: white;
  border: none;
}

.card__close:hover {
  visibility: visible;
  color: red
}